@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* VARIAVEIS */
:root{
    --vermelho-sangue: #A31F25;
    --preto: #0F0F0F;
    --cor-creme: #F2EFEA;
    --branco:#FFFFFF;
    --cinza-claro:#C0C0C0;

    --fonte-titulo: "Montserrat", sans-serif;
    --fonte-titulo2: "Bebas Neue", sans-serif;
    --fonte-paragrafo: "Roboto", sans-serif;
}

/* --------------------- RESET ------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

/* --------------------- BODY ------------------ */
body {
    font-family: var(--fonte-paragrafo);
    height: 100%;
}

.btn-outline{
    background-color: transparent;
    border: 1px solid var(--vermelho-sangue);
    padding: 12px;
    color: var(--vermelho-sangue);
    border-radius: 14px;
    font-size: 1.0em;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer
}

.btn-outline:hover{
    background-color: var(--vermelho-sangue);
    color: var(--branco);
    border: 2px solid var(--branco);
}

/* ----------------- CSS HEADER ------------------------ */
.header{
    background-color: var(--preto);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__list{
    display: flex;
    flex-direction: row;
    gap: 28px;
    list-style-type:none ;
}

.nav__link{
    text-decoration: none;
    color: var(--branco);
    padding-left: 40px;
    font-size: 1.2em; 
}

.nav__link:hover {
    color: var(--vermelho-sangue)
}

/*--------------------- CSS  CONTAINER -----------------*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px
}

/* ----------------- CSS HERO ------------------------ */
.hero{
    background: url(../imgs/hero/banner-kareteca-preto.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: var(--branco);
    padding: 100px 0px;
}

.container{
    margin-left: 250px;
}

.hero__tagline{
    padding: 8px;
    margin-bottom: 16px;
    background-color: var(--vermelho-sangue);
    border-radius: 14px;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
}

.hero__title{
    font-size: 4em;
}

.hero__description{
    font-size: 1.3em;
    margin-bottom: 12px;
    margin-top: 12px;
}

.hero__button{
    padding: 12px;
    background-color: var(--vermelho-sangue);
    border-radius: 14px;
    font-size: 1.0em;
    font-weight: bold;
    margin-top: 12px;
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--vermelho-sangue);
    cursor: pointer
}

.hero__button:hover{
    color: var(--cor-creme) ;
}

/* ----------------- CSS HISTORY ------------------------ */
.history{
    background: url(../imgs/history/banner__branco__gichin.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 600px;
    color: var(--preto);
    padding-bottom: 40px;
}

.history__tagline{
    padding: 60px 0 10px 0;
    color: var(--vermelho-sangue);
    font-size: 1.2em;
    font-weight: bold;
}

.history .container {
    max-width: 520px;
    margin: 0 auto 0 40px;
    padding-left: 40px;
}

.history__title{
    font-size: 3.5em;
}

.history__text--hidden{
    display: none;
}

.history__title__span{
    color: var(--vermelho-sangue);
}

.history__text{
    font-size: 1.2em;
    margin-bottom: 16px;
    max-width: 900px;
}

/* ----------------- CSS TECHNIQUES------------------------ */

.techniques{
    background-color: var(--preto);
    color: var(--branco);
}

.techniques__tagline{
    padding-top: 80px;
    margin-bottom: 16px;
    background-color: var(--preto);
    color: var(--vermelho-sangue);
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
}

.techniques__title{
    font-family: var(--fonte-titulo);
    font-size: 3.5em;
    padding-bottom: 16px;
}

.techniques__description{
    font-size: 1.3em;
}

.techniques__card{
    flex:1;
    min-width: 200px;
}

.techniques__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.techniques__name{
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 1.4em;
}

.techniques__image{
    max-width: 290px;
    border-radius: 14px;
    border: 1px solid var(--cor-creme);
    transition: all 0.3s ease-in-out;
    min-width: 100px;
    flex: 1;
}

.techniques__image:hover{
    border: 2px solid var(--vermelho-sangue);
}

.techniques__text{
    font-size: 1.4em;
    margin: 20px 0 20px 40px;
    text-align: center;
}

.techniques__button{
    background-color: transparent;
    color: var(--branco);
    border-radius: 14px;
    border: 1px solid var(--cor-creme);
    padding: 8px;
    margin: 20px 0 40px 0;
    font-size: 1.0em;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer
}

.techniques__button:hover{
    color:var(--preto);
    background-color: var(--cinza-claro);
}

/* ----------------- CSS KATAS ------------------------ */

.katas__athletes{
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
}

.katas{
    background: url(../imgs/kata/banner__karateca__lua__vermelha.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    padding: 40px;
}

.katas__tagline{
    padding: 8px;
    color: var(--vermelho-sangue);
    font-size: 1.2em;
    font-weight: bold;
}

.katas__title{
    font-size: 3.5em;
}

.katas__description{
    font-size: 1.3em;
}

.katas__list{
    display: inline-block;
}

.katas__item{
    background-color: var(--cinza-claro);
    padding: 10px;
    margin: 20px;
    list-style-type: none;
    border: 1px solid var(--preto);
    border-radius: 14px;
}

/* ----------------- CSS ATHLETES ------------------------ */
.athletes{
    background: url(../imgs/athletes/banner__arvore.png);
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
}

.athletes__tagline{
    padding: 8px;
    color: var(--vermelho-sangue);
    font-size: 1.2em;
    font-weight: bold
}

.athletes__title{
    font-size: 3.5em;
}

.athletes__description{
    font-size: 1.3em;
}

.athletes__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.athletes__card{
    display:flex;
    flex-direction: column;
    gap: 8px;
    max-width: 350px
}

.athletes__image{
    border-radius: 14px;
    width: 100%;
    max-width: 280px;
    height: 200px;
    object-fit: cover;  /*faz a img ou vídeo preencher todo contêiner sem distorcer, mantendo a proporção original e cortando o excesso das bordas.*/
}

.athletes__name{
    font-size: 1.2em;
    font-weight: bold;
}

.athletes__text{
   font-size: 1.0em;
}

/* ----------------- CSS FOOTER ------------------------ */

.footer{
    background-color: var(--preto);
    color: var(--cor-creme);
    padding: 10px;
    text-align: center;
}

.footer__text{
   font-size: 1.0em;
}

.footer__link{
    text-decoration: none;
    color: var(--vermelho-sangue);
}

/*------------------ CSS MEDIA QUERY ------------------*/

@media (max-width:768px){

}


@media (max-width:480px){
    
}