@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --vermelho-sangue: #A31F25;
    --preto: #0F0F0F;
    --cor-creme: #F2EFEA;
    --branco:#FFFFFF;
    --cinza-claro:#C0C0C0;

    --fonte-titulo: "Montserrat", sans-serif;
    --fonte-titulo2: "Bebas Neue", sans-serif;
    --fonte-paragrafo: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
    background-color: var(--preto);
}

.nav{
    padding-bottom: 20px;
}

.nav__list{
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.nav__link{
    text-decoration: none;
    color: var(--branco);
    padding-left: 40px;
}

.hero{
    background: url(../imgs/banner-kareteca-preto.png);
    height: 420px;
    background-size: cover;

    color: var(--branco);
    gap: 20px;
}

.hero__texts{
    margin-left: 40px;
}

.hero__tagline{
    padding: 8px;
    margin-bottom: 16px;
    background-color: var(--vermelho-sangue);
    border-radius: 10px;
    display: inline-block;
}

.hero__tagline{
    margin-bottom: 16px;
}

