@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* VARIAVEIS */
:root{
    --vermelho-sangue: #A31F25;
    --preto: #0F0F0F;
    --cor-creme: #F2EFEA;
    --branco:#FFFFFF;
    --cinza-claro:#C0C0C0;

    --fonte-titulo: "Montserrat", sans-serif;
    --fonte-titulo2: "Bebas Neue", sans-serif;
    --fonte-paragrafo: "Roboto", sans-serif;
}

/* --------------------- REST ------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
    font-family: var(--fonte-paragrafo);
}

/* ----------------- CSS HEADER ------------------------ */
.header{
    background-color: var(--preto);
    display: flex;
    align-items: center;
}

.nav{
    padding-bottom: 20px;
}

.nav__list{
    display: flex;
    flex-direction: row;
    gap: 28px;
    list-style-type:none ;
}

.nav__link{
    text-decoration: none;
    color: var(--branco);
    padding-left: 40px;
    font-size: 1.2em; 
}

.nav__link:hover {
    color: var(--vermelho-sangue)
}


/* ----------------- CSS HERO ------------------------ */
.hero{
    background: url(../imgs/banner-kareteca-preto.png);
    height: 420px;
    background-size: cover;
    background-repeat: no-repeat;

    color: var(--branco);
    gap: 20px;
}

.hero__texts{
    margin-left: 40px;
}

.hero__tagline{
    padding: 8px;
    margin-bottom: 16px;
    background-color: var(--vermelho-sangue);
    border-radius: 10px;
    display: inline-block;
    font-size: 1.0em;
    font-weight: bold;

}

.hero__title{
    font-size: 4em;
}

.hero__description{
    font-size: 1.3em;
    margin-bottom: 12px;
}

.hero__button{
    padding: 12px;
    margin-bottom: 16px;
    background-color: var(--vermelho-sangue);
    border-radius: 12px;
    font-size: 1.0em;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--vermelho-sangue);

}

.hero__button:hover{
    color: var(--cor-creme) ;
}

/* ----------------- CSS HISTORY ------------------------ */
.history{
    background: url(../imgs/banner__branco__gichin.png);
    height: 640px;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--preto);

}

.history__tagline{
    padding: 8px;
    color: var(--vermelho-sangue);
    font-size: 1.3em;
    font-weight: bold;
}

.history__title{
    font-size: 3.5em;
}

span{
    color: var(--vermelho-sangue);
}

.history__text{
    line-height: 1.0;
    white-space: pre-wrap;
}

.history__button{
    padding: 14px;
    background-color: transparent;
    border: 2px solid var(--vermelho-sangue);
    color: var(--vermelho-sangue);
    border-radius: 12px;
    font-size: 1.0em;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.history__button:hover{
    background-color: var(--vermelho-sangue);
    color: var(--branco);
    border: 2px solid var(--branco);
}

/* ----------------- CSS TECHNIQUES------------------------ */

.techniques{
    background-color: var(--preto);
    color: var(--branco);
}

.techniques__tagline{
    padding: 40px 0px 8px 40px;
    margin-bottom: 16px;
    background-color: var(--preto);
    color: var(--vermelho-sangue);
    display: inline-block;
    font-size: 1.0em;
    font-weight: bold;
}

.techniques__title{
    font-family: var(--fonte-titulo);
    font-size: 3.5em;
    padding-left: 40px;
}

.techniques__description{
    padding-left: 40px;
    font-size: 1.3em;
    line-height: 1.0;
}

.techniques__cards{
    display: flex;
    gap: 40px;
}

.techniques__name{
    font-size: 1.4em;
    margin: 40px 0 20px 40px;
}

.techniques__image{
    height: 360px;
    width: 290px;
    border-radius: 16px;
    border: 1px solid var(--cor-creme);
    transition: all 0.3s ease-in-out;
}

.techniques__image:hover{
    border: 2px solid var(--vermelho-sangue);
}

.techniques__text{
    font-size: 1.4em;
    margin: 20px 0 20px 40px
}

.techniques__button{
    background-color: transparent;
    color: var(--branco);
    border-radius: 16px;
    border: 1px solid var(--cor-creme);
    padding: 8px;
    margin: 20px;
    font-size: 1.0em;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.techniques__button:hover{
    color:var(--preto);
    background-color: var(--cinza-claro);
}

/* ----------------- CSS KATAS ------------------------ */

.katas__athletes{
    display: flex;
}

.katas{
    background: url(../imgs/banner__karateca__lua__vermelha.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 600px;
}

.katas__tagline{
    padding: 8px;
    color: var(--vermelho-sangue);
    font-size: 1.3em;
    font-weight: bold;
}

.katas__title{
    font-size: 3.5em;
}

.katas__description{
    line-height: 1.0;
}

.katas__list{
    display: block;
}

.katas__item{
    background-color: var(--cinza-claro);
    padding: 10px;
    margin: 20px;
    display: block;
    border: 1px solid var(--preto);
}

.katas__button{
    padding: 14px;
    background-color: transparent;
    border: 2px solid var(--vermelho-sangue);
    color: var(--vermelho-sangue);
    border-radius: 12px;
    font-size: 1.0em;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.katas__button:hover{
    background-color: var(--vermelho-sangue);
    color: var(--branco);
    border: 2px solid var(--branco)
}

/* ----------------- CSS ATHLETES ------------------------ */
.athletes{
    background: url(../imgs/banner__arvore.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}

.athletes__tagline{
    padding: 8px;
    color: var(--vermelho-sangue);
    font-size: 1.3em;
    font-weight: bold
}

.athletes__title{
    font-size: 3.5em;
}

.athletes__description{
    line-height: 1.0;
}

.athletes__cards{
    display: flex;
    gap: 20px;
}

.athletes__card{
    flex-direction: row;
}

.athletes__image{
    width: 400px;
    height: 310px;
}

.athletes__name{
    line-height: 1.0;
    font-weight: bold;
}

.athletes__text{
    line-height: 1.0;
}

.athletes__button{
    padding: 14px;
    background-color: transparent;
    border: 2px solid var(--vermelho-sangue);
    color: var(--vermelho-sangue);
    border-radius: 12px;
    font-size: 1.0em;
    font-weight: bold;
}

